target/
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

*.iml
.gradle/
.idea/
/build
/local.properties
/.idea/workspace.xml
/.idea/libraries
src/test/resources/gplaymusic.properties
gplaymusic.properties
local_scripts/